<ion-header>
  <ion-toolbar>
    <ion-title>
      <div>RegistrAPP</div>
      <div style="font-size: small; font-style: italic;">(Vista Docente)</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <!-- Carta para informacion de codigo qr -->
  <ion-card>
    <!-- Cabecera de carta -->
    <ion-card-header>
      <ion-card-title>Información de la clase</ion-card-title>
    </ion-card-header>

    <!-- Cuerpo de carta -->
    <ion-card-content>
      <ion-list>
        <!-- Ingreso de seccion -->
        <ion-item>
          <ion-select [(ngModel)]="valor" value="1" okText="Listo" cancelText="Cancelar">
            <ion-select-option *ngFor="let a of array_curso" value="{{a.idCurso}}">{{a.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <!--10 Dec 2021 10:30-->
          <ion-label>Fecha</ion-label>
          <ion-datetime displayFormat="D MMM YYYY" min="2021" max="2100" value="10 Dec 2021" [(ngModel)]="date">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-button (click)="scanerCode()">Generar QR</ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <!--MOSTRAR QR-->
  <div *ngIf="mostrar==1; else elseBlock"> </div>

  <ng-template #elseBlock>
    <!-- Carta para codigo qr -->
    <ion-card *ngIf="qrData">
      <!-- Cabecera de carta -->
      <ion-card-header>
        <ion-card-title>Generar código QR</ion-card-title>
      </ion-card-header>
      <!-- Cuerpo de carta -->
      <ion-card-content>
        <ion-item>
          <ngx-qrcode [elementType]="elementType" [value]="qrData"></ngx-qrcode>
        </ion-item>
        <ion-item>
          <ion-input type="text" pleaceholder="ingrese codigo QR" [(ngModel)]="qrData"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>