<ion-header>
  <ion-toolbar>
    <ion-title>
      <div>RegistrAPP</div>
      <div style="font-size: small; font-style: italic;">(Vista Docente)</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- Titulo -->
      <ion-card-title *ngFor="let item of array_profe">
        <h3 style="text-align: center; font-family:Arial, Helvetica, sans-serif">¡Bienvenido(a) {{item.nombre+" "+item.apellido}}!</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <!-- Contenido -->
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Secciones</ion-label>
          <ion-label style="text-align: end;">Lista de asistencia</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let curso of array_curso">
          <ion-label>{{curso.nombre}}</ion-label>
          <ion-button (click)="listar(curso.idCurso)">Listar</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>